/* Import reset.css */
@import url('reset.css');

/* styles.css */

:root {
    --background-color-light: #FFF4FA;
    --text-color-light: black;
    --background-color-dark: #804768;
    --text-color-dark: white;

    /* Default to light mode colors */
    --navbar-footer-bg-color: var(--background-color-light);
    --text-color: var(--text-color-light);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
    line-height: 1.6;
}

nav {
    background-color: var(--navbar-footer-bg-color);
    overflow: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar a {
    display: block;
    color: var(--text-color);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar a:hover {
    background-color: #575757;
}

#mode-toggle {
    background-color: transparent;
    color: var(--text-color);
    border: none;
    cursor: pointer;
}

.content {
    padding: 20px;
    text-align: center;
}

.links {
    margin-top: 20px;
}

.logo {
    width: 100px;
    height: auto;
    margin: 10px;
    transition: transform 0.3s;
}

.logo:hover {
    transform: scale(1.1);
}

.footer {
    background-color: var(--navbar-footer-bg-color);
    color: var(--text-color);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    transition: background-color 0.3s, color 0.3s;
}

.footer a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s;
}

.footer a:hover {
    text-decoration: underline;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    :root {
        --navbar-footer-bg-color: var(--background-color-dark);
        --text-color: var(--text-color-dark);
    }

    body {
        background-color: #333;  /* Adjust if you want the body background to change too */
    }

    #mode-toggle {
        color: var(--text-color-dark);
    }
}